body {
  font-family: Helvetica;
}

#header {
  background-color: rgb(142, 0, 0);
  height: 70px;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  padding: 20px;
  color: white;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

#login {
  position: absolute;
  right: 0px;
  padding: 30px;
  color: white;
}

.link {
  color: white;
  padding: 10px
}

#subheader {
  background-color: rgb(65, 65, 65);
  text-align: right;
  padding: 20px;
}

#body {
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 500px;
  padding-bottom: 40px;
  text-align: justify;
}